.footer {
  color: #fff;
  font-size: 14px;
  background: #111;
  padding: 60px 0 30px 0;
  &__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__contacts {
    &-title {
      font-size: 22px;
      margin: 0 0 10px 0;
      padding: 2px 0 2px 0;
      line-height: 1;
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #fff;
    }
    &-text {
      padding: 0;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      font-family: "Roboto", sans-serif;
      color: rgba(255, 255, 255, 0.7);
      &_type_bold {
        font-weight: 600;
      }
    }
  }
  &__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-list {
      list-style: none;
      display: flex;
      padding: 0;
      gap: 10px;
    }
    &-item {
    }
    &-link {
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.08);
      color: #fff;
      line-height: 1;
      padding: 0;
      margin: 0;
      border-radius: 4px;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
      &:hover {
        background: #1bbd36;
      }
    }
  }
  &__copy {
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      text-decoration: none;
      color: #545454;
    }
  }
}
@media screen and (min-width: 576px) {
  .footer {
    &__container {
      max-width: 510px;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    &__container {
      max-width: 690px;
    }
  }
}

@media screen and (min-width: 992px) {
  .footer {
    &__container {
      max-width: 930px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    &__container {
      max-width: 1110px;
    }
  }
}
