@import "~normalize.css/normalize.css";
@import "scss/components/Section.scss";

body {
  font-family: "Open Sans", sans-serif;
  color: #4d4643;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}
