.contacts {
  padding: 60px 0;
  &__container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px 0;
    max-width: 90%;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    width: 100%;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    padding: 30px;
    &-item {
      display: flex;
      flex-direction: column;
      width: calc(100% / 12 * 12 - 10px);
      &-contacts {
        margin: 0 0 5px 57px;
      }
    }
    &-container {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-ico {
      font-size: 20px;
      color: #1bbd36;
      float: left;
      width: 44px;
      height: 44px;
      border: 1px solid #1bbd36;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: all ease-in-out 0.4s;
      &:hover {
        background: #1bbd36;
        color: #fff;
      }
    }
    &-title {
      padding: 0;
      margin: 0;
    }
  }
}
@media screen and (min-width: 576px) {
  .contacts {
    &__container {
      max-width: 510px;
    }
    &__list {
      &-item {
        width: calc(100% / 12 * 12);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    &__container {
      max-width: 690px;
    }
    &__list {
      &-item {
        width: calc(100% / 12 * 4 - 20px);
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .contacts {
    &__container {
      max-width: 770px;
    }
    &__list {
      &-item {
        width: calc(100% / 12 * 4 - 20px);
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    &__container {
      max-width: 920px;
    }
    &__list {
      &-item {
        width: calc(100% / 12 * 4 - 20px);
      }
    }
  }
}
